@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    scroll-behavior: smooth;
}

main {
    min-height: 100vh;
}

.animated-text .letter {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}