@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

main {
    min-height: 100vh;
}

.hover-text {
    position: relative;
}

.hover-text .hovered {
    display: none;
}

.hover-text:hover .default {
    display: none;
}

.hover-text:hover .hovered {
    display: inline;
}